*{
    background-color: #fbfdff;
    width: auto;
    height: fit-content;
    background:fixed;

}

h1{
    color: green;
}



.OFFLINE{
    margin-right: auto;
    display:grid;
    align-items: center;
    max-width: 100%;
    min-width: auto;
    width: 200%;
    margin-top: 0px;
    box-sizing: border-box;
    border: 1px solid white;
    height: auto;
    background-color: rgba(218, 222, 222, 0);
    border-bottom-right-radius: 20px;
    align-items: center;
    padding-left:1px;
    padding-bottom: 10px;
    padding-top: 20px;
    cursor:pointer;
}

h1{
    margin-left: 70px;
    margin-top: 20px;
}


.OFFLINE ul,li{
    background: white;
    width: fit-content;
    font-size: 18px;

}
hr{
    width: 100%;
    margin-left: 0px;
}

.main{
    background: rgb(8, 80, 223);
    padding: 0px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    height: 400px;
    box-sizing: border-box;
    box-shadow: -2px 5px 5px 0px white;


}


.NTSA{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: white;
    margin-top: 70px;
    border: 0px solid rgb(227, 229, 235);
    box-shadow: -2px 5px 5px 0px lightgrey;
    border-radius: 3px;

}


.graphics{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    border: 0px solid rgb(227, 229, 235);
    border-radius: 3px;
    background: rgb(234, 228, 238);
    box-shadow: -2px 5px 5px 0px lightgrey;
}

.graphic{
    box-shadow: -2px 5px 5px 0px lightgrey;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;


}

.entertainment{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    padding: 10px;
    border: 0px solid rgb(227, 229, 235);
    border-radius: 3px;
    background: white;
}

.contacts{
    height: 200px;
    margin-left: 0px;
    border: 0px solid white;
    box-sizing: border-box;
    box-shadow: -1px 2px 2px 2px black;
    display: inline-table;
    padding: 10px;


}
.contacts:hover{
    position: relative;
    box-shadow: -3px 5px 5px 5px black;
}

.call-us{
    height: 100px;
    border: 1px solid white;
}
.contacts h2{
    text-align: left;
    color: black;
}
.entainmentimg{
    width: 20%;
}
.movie{
    width: 70%;
}

.movie1{
    border: 0px solid white;
    border-radius: 5px;
    width: 100%;
    height: auto;
    background: rgb(47, 47, 47);
    box-shadow: -2px 5px 5px 0px lightgrey;
    padding: 0px;
    
}

.movie2{
    margin-top: 10px;
    border: 0px solid white;
    border-radius: 5px;
    width: 100%;
    height: auto;
    background: black;
    box-shadow: -2px 5px 5px 0px lightgrey;
    padding: 0px;
    
}
.location{
    margin: 20px;
    margin-top: 20px;
    border: 2px solid d2e0f3;
    background: rgb(8, 80, 223);
    display: flex;
    border-radius: 3px;
    height: 20px;
    padding: 0px;

}

.icon{
    float: left;
    height: 70px;
    margin: 0px;
    background: white;
    border-radius: 540px;
    box-shadow: -2px 5px 5px 0px lightgrey;

}

.directions{
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    margin-top: 20px;
    color: rgb(196, 219, 217);
    margin-left: 10px;
}

.about{
    background: white;
    margin: 0px;
    padding: 10px;
    border: 0px solid rgb(193, 187, 187);
    border-radius: 3px;

}

.tell{
    border: 0px solid lightgray;
    margin-left: 5px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: -2px 5px 5px 0px lightgrey;
}
.us{
    float: left;
    height: 200px;
}
.story{
    margin-top: 0px;
    box-shadow: 0px 2px 2px 2px rgb(246, 199, 199);
    height: 190px;
    border-top: 0px;
}

.story p{
    text-align: center;
    padding: 60px;
    font-size: 17.5px;
    color: darkcyan;
    font-style: italic;
    font-weight: bold;
}

.theater{
    background: #fdfbfb;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    box-shadow: -2px 5px 5px 0px lightgrey;
}
.theater li{
    font-size: 20px;
}

.work{
    float: right;
    height: 300px;
}
.service-contacts{
    margin-top: 30px;
    position: absolute;
    height: 200px;
    display: flex;
    width: fit-content;
    padding: 20px;
}
.services{
    width: fit-content;
    height: 335px;
    margin-top: 60px;
    box-sizing: border-box;
    border: 0px solid white;
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: -2px 5px 5px 0px lightgrey;
}

.contact{
    width: fit-content;
    height: 200px;
    margin-top: 150px;
    box-sizing: border-box;
    border: 0px solid white;
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: -2px 5px 5px 0px lightgrey;

}

/*location animation*/


span{
    color: whitesmoke;
    font-size: 20px;
}

/*NAVIGATION*/

.mobile-container {
    width: 100%;
    margin-bottom: 40px;
    height: 0px;
    color: rgb(253, 252, 252);
    border-radius: 10px;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  
  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(250, 246, 246);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    box-shadow: 0 .5rem 1rem rgba(250, 250, 250, 0.25)!important;
  }


  .icon1 {
    display: inline-block;
    cursor: pointer;
    background: rgb(222, 19, 19, 0.0);
    position: absolute;
    right: 10px;
    top: 2px;
    bottom: 0px;
    padding: 10px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 26px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 2s;
  }


  .topnav a:hover {
    background-color: rgb(250, 245, 245);
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .post{
    width: 80%;
    margin-left: 25px;
    border-radius: 50px;
    box-shadow: 0 .5rem 1rem rgba(28, 27, 27, 0.75)!important;


  }

  .poster{
    box-shadow: 0 .5rem 1rem rgba(28, 27, 27, 0.55)!important;
    padding: 30px;
    border: 0px solid black;
    width:fit-content;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
  }

  .poster:hover{
    width: 100%;
  }

  .post-title{
    margin-left: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60%;
    text-align: center;
    padding: 0.5px;
    margin-top: 0px;
    box-shadow: 0 .5rem 1rem rgba(28, 27, 27, 0.55)!important;

  }

  .post-title:hover{
    background: #f8f8f8;
    color: rgb(11, 11, 11);
    padding: 0.5px;
    box-shadow: 0 .5rem 1rem rgba(249, 248, 248, 0.55)!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;


  }

  /*PAYMENT*/

  button:hover {
    opacity: 0.8;
    background-color: red;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: green;
  }
  
  
  .container {
    padding: 16px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(20, 20, 20, 0.9)!important;

  }

  .steps{
    box-sizing: border-box;
    box-shadow: 0 .5rem 1rem rgba(20, 20, 20, 0.2)!important;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
  }

.steps li{
    background-color: #f6f4f4;

}


  
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(116, 113, 113); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 30px;
    top: 20;
    color: rgb(212, 31, 31);
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 2s;
    animation: animatezoom 2s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  .footer{
    margin-top: 10px;
    background: black;
    height: 200px;

  }

  .footer-img{
    float: right;
    width: 50%;
    height: 200px;
  }

  .PAY{
    width: 50%;
    border-radius: 20px;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
    background: lightblue;

  }