*{
    background-color: #fbfdff;
    width: auto;
    height: fit-content;
    background:fixed;

}
h1{
    color: green;
}


.payment{
    float:right;
    border: 2px solid rgb(120, 124, 116);
    border-style:inset;
    align-content: center;
    color: rgb(251, 247, 247);
    background: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}


.OFFLINE{
    margin-right: auto;
    display:grid;
    align-items: center;
    max-width: 100%;
    min-width: auto;
    width: 200%;
    margin-top: 0px;
    box-sizing: border-box;
    border: 1px solid white;
    height: auto;
    background-color: lightslategrey;
    border-bottom-right-radius: 20px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(227, 221, 221);
    padding-left:1px;
    padding-bottom: 10px;
    cursor:pointer;
}


.OFFLINE ul,li{
    background: white;
    width: fit-content;
    font-size: 18px;

}
hr{
    width: 100%;
    margin-left: 0px;
}

.main{
    background: rgb(8, 80, 223);
    padding: 0px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    height: 300px;
    box-sizing: border-box;

}
.goal{
    float: right;
    height: 200px;
    margin-top: 0px;
    margin-right: 10px;
    border-bottom-left-radius: 200px;


}
.navigate{
    border: 0px solid white;
    width: 100%;
    height: 40px;
    background: white;
    justify-content: space-between;
    padding: 9px;

}
.links{
    align-content: center;
    text-decoration: none;
    justify-content: space-between;
    margin-top: 7px;

}

.links a{
    text-decoration: none;
    border: 1px solid rgb(49, 47, 47);
    border-radius: 20px;
    margin: 3px;
    padding: 2px;
    color: white;
    background: lightslategray;
    box-shadow: -2px 1px 5px 2px rgb(59, 57, 57);

}
a:hover{
    background: white;
    color: black;
    box-shadow: -2px 1px 5px 2px red;
    
}

.NTSA{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: white;
    margin-top: 70px;
    border: 0px solid rgb(227, 229, 235);
    border-radius: 3px;

}


.graphics{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    border: 0px solid rgb(227, 229, 235);
    border-radius: 3px;
    background: rgb(76, 34, 102);
}

.graphic{
    box-shadow: -2px 5px 5px 0px lightgrey;


}

.entertainment{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    padding: 10px;
    border: 0px solid rgb(227, 229, 235);
    border-radius: 3px;
    background: white;
}

.contacts{
    height: 200px;
    margin-left: 0px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: -1px 2px 2px 2px black;
    display: inline-table;
    padding: 10px;


}
.contacts:hover{
    position: relative;
    box-shadow: -3px 5px 5px 5px black;
}

.call-us{
    height: 100px;
    border: 1px solid white;
}
.contacts h2{
    text-align: left;
    color: black;
}
.entainmentimg{
    width: 20%;
}
.movie{
    width: 70%;
}

.movie1{
    border: 0px solid white;
    border-radius: 5px;
    width: fit-content;
    height: auto;
    background: black;
    box-shadow: -2px 5px 5px 0px lightgrey;
    padding: 20px;
    
}

.movie2{
    margin-top: 10px;
    border: 0px solid white;
    border-radius: 5px;
    width: fit-content;
    height: auto;
    background: black;
    box-shadow: -2px 5px 5px 0px lightgrey;
    padding: 20px;
    
}
.location{
    margin: 20px;
    margin-top: 10px;
    border: 2px solid d2e0f3;
    background: rgb(249, 248, 248);
    display: flex;
    border-radius: 3px;
    height: 100px;
    padding: 0px;

}

.icon{
    float: left;
    height: 80px;
    margin: 50px;
    background: white;
    border-radius: 540px;

}

.directions{
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    position: relative;
    margin-top: 40px;
    color: lightseagreen;
    margin-left: 0px;
}

.about{
    background: white;
    margin: 20px;
    padding: 10px;
    border: 0px solid rgb(193, 187, 187);
    border-radius: 3px;

}

.tell{
    border: 0px solid lightgray;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: -2px 5px 5px 0px lightgrey;
}
.us{
    float: left;
    height: 200px;
}
.story{
    margin-top: 0px;
    box-shadow: 0px 2px 2px 2px rgb(246, 199, 199);
    height: 190px;
    border-top: 0px;
}

.story p{
    text-align: center;
    padding: 60px;
    font-size: 17.5px;
    color: darkcyan;
    font-style: italic;
    font-weight: bold;
}

.theater{
    background: #fdfbfb;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

.work{
    float: right;
    height: 300px;
}
.service-contacts{
    margin-top: 30px;
    position: absolute;
    height: 200px;
    display: flex;
    width: fit-content;
    padding: 20px;
}
.services{
    width: fit-content;
    height: 285px;
    margin-top: 60px;
    box-sizing: border-box;
    border: 0px solid white;
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: -2px 5px 5px 0px lightgrey;

}

.contact                    {
    width: fit-content;
    height: 200px;
    margin-top: 150px;
    box-sizing: border-box;
    border: 0px solid white;
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: -2px 5px 5px 0px lightgrey;

}