*{
    background-color: #fbfdff;
    width: auto;
    height: fit-content;
    background:fixed;

}
h1{
    color: green;
}


.payment{
    float:right;
    border: 2px solid rgb(120, 124, 116);
    border-style:inset;
    align-content: center;
    color: rgb(251, 247, 247);
    background: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}


.OFFLINE{
    margin-left: auto;
    margin-right: auto;
    display:grid;
    align-items: center;
    max-width: 100%;
    min-width: auto;
    width: 200%;
    margin-top: 0px;
    box-sizing: border-box;
    border: 1px solid white;
    height: auto;
    background-color: #d2e0f3;
    border-bottom-right-radius: 20px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(227, 221, 221);
    padding-left: 20px;
    padding-bottom: 10px;
    cursor:pointer;
    overflow: scroll;
}


.OFFLINE ul,li{
    background: white;
    width: fit-content;
    font-size: 18px;

}
hr{
    width: 100%;
    margin-left: 0px;
}

.main{
    background: white;
    padding: 10px;
    float: left;
    margin-top: 10px;
    height: auto;
    width: 85%;
    border: 2px solid rgb(227, 229, 235);
    border-bottom-right-radius: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -1px 5px 5px 8px black;
}


.NTSA{
    padding: 10px;
    background-color: white;
    margin-top: 30px;
    border: 2px solid rgb(227, 229, 235);
    border-radius: 20px;
    width: 80%;
    box-shadow: -1px 4px 4px 5px black;

}


.graphics{
    padding: 10px;
    border: 2px solid rgb(227, 229, 235);
    border-radius: 20px;
    width: 80%;
    margin-top: 20px;
    background: white;
    box-shadow: -1px 4px 4px 5px black;


}

.entertainment{
    padding: 10px;
    margin: 0px;
    border: 2px solid rgb(227, 229, 235);
    border-radius: 20px;
    width: 80%;
    box-shadow: -1px 3px 4px 5px black;

}

.contacts{
    float: inline-end;
    padding: 10px;
    border: 2px solid rgb(227, 229, 235);
    border-radius: 20px;
    width: fit-content;
    box-shadow: 10 rgb(54 127 211 / 18%);
    margin-top: 20px;
    background: rgb(235, 231, 231);
}

.us ul{
    background: rgb(235, 231, 231) ;

}

.main:hover{
    box-shadow: -1px 5px 5px 8px white;
    background: white;
    cursor:context-menu;
}

.NTSA:hover{
    box-shadow: -1px 5px 5px 8px white;
    background: white;
    cursor:context-menu;


}.graphics:hover{
    box-shadow: -1px 5px 5px 8px white;
    background: white;
    cursor:context-menu;


}.entertainment:hover{
    box-shadow: -1px 5px 5px 8px white;
    background: white;
    cursor:context-menu;


}
.entainmentimg{
    width: 100%;
}
